## Initial exploration of Strokes Gained Database

In [1]:
## Importing libraries

import pandas as pd
import numpy as np
import sys; sys.path.insert(1, '/Users/EvanCallaghan/Documents/Golf/StrokesGained/GOLF/GlobalScripts')
import GOLF_script

In [2]:
## Reading the data

baselines = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Baselines.xlsx')
courses = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Courses.xlsx')
golfers = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Golfers.xlsx')
rounds = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Rounds.xlsx')
shots = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Shots.xlsx')

### Sample Strokes Gained Report for September 2021 Rounds

In [3]:
## Subsetting the data for the correct golfer and month

## Golfer
golfer = golfers[golfers['golferID'] == 1].reset_index(drop = True)

## Rounds
rds = rounds[rounds['golferID'] == 1].reset_index(drop = True)

for i in range(0, rds.shape[0]):
    if (rds.at[i, 'Date'].month != 9):
        rds.drop(i, axis = 0, inplace = True)        
rds = rds.reset_index(drop = True)

## Shots
shot = shots[np.isin(shots['roundID'], rds['roundID'].values)].reset_index(drop = True)


## Initializing an empty data-frame to store final Strokes Gained information
strokes = pd.DataFrame()

## Completing joins between data-frames
strokes = shot.merge(rds[['roundID', 'courseID', 'Tees']], on = 'roundID', how = 'left')

strokes = strokes.merge(courses, on = ['courseID', 'Tees', 'holeNumber'], how = 'left')


strokes

,shotID,roundID,holeNumber,shotNumber,nextLocation,nextLocationLieType,penaltyIncurred,courseID,Tees,Course,holeYardage,holePar
0,1000000,1000,1,1,86,Fairway,NaN,1,Black,Otter Creek,374,4
1,1000001,1000,1,2,3,Green,NaN,1,Black,Otter Creek,374,4
2,1000002,1000,1,3,1,Green,NaN,1,Black,Otter Creek,374,4
3,1000003,1000,1,4,0,Hole,NaN,1,Black,Otter Creek,374,4
4,1000004,1000,2,1,123,Rough,NaN,1,Black,Otter Creek,389,4
...,...,...,...,...,...,...,...,...,...,...,...,...
527,1001390,1014,17,3,2,Green,NaN,7,Black,Indianola,330,4
528,1001391,1014,17,4,0,Hole,NaN,7,Black,Indianola,330,4
529,1001392,1014,18,1,7,Fairway,NaN,7,Black,Indianola,205,3
530,1001393,1014,18,2,1,Green,NaN,7,Black,Indianola,205,3
531,1001394,1014,18,3,0,Hole,NaN,7,Black,Indianola,205,3