## Initial exploration of Strokes Gained Database

In [50]:
## Importing libraries

import pandas as pd
import numpy as np

In [51]:
## Reading the data

baselines = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Baselines.xlsx')
courses = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Courses.xlsx')
golfers = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Golfers.xlsx')
rounds = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Rounds.xlsx')
shots = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Shots.xlsx')

### Sample Strokes Gained Report for September 2021 Rounds

In [56]:
## Subsetting the data for the correct golfer and month

## Golfer
golfer = golfers[golfers['golferID'] == 1].reset_index(drop = True)

## Rounds
rds = rounds[rounds['golferID'] == 1].reset_index(drop = True)

for i in range(0, rds.shape[0]):
    if (rds.at[i, 'Date'].month != 9):
        rds.drop(i, axis = 0, inplace = True)        
rds = rds.reset_index(drop = True)

## Shots
shot = shots[np.isin(shots['roundID'], rds['roundID'].values)].reset_index(drop = True)

In [60]:
courses.head()

   courseID       Course   Tees  holeNumber  holeYardage  holePar
0         1  Otter Creek  Black           1          374        4
1         1  Otter Creek  Black           2          389        4
2         1  Otter Creek  Black           3          552        5
3         1  Otter Creek  Black           4          203        3
4         1  Otter Creek  Black           5          542        5

In [69]:
## Initializing an empty data-frame to store final Strokes Gained information
strokes = pd.DataFrame()

## Completing joins between data-frames
strokes = shot.merge(rds[['roundID', 'courseID', 'Tees']], on = 'roundID', how = 'left')

strokes = strokes.merge(courses, on = ['courseID', 'Tees', 'holeNumber'], how = 'left')


strokes

,shotID,roundID,holeNumber,shotNumber,nextLocation,nextLocationBL,penaltyIncurred,courseID,Tees,Course,holeYardage,holePar
0,1000000,1000,1,1,86,Fairway,NaN,1,Black,Otter Creek,374,4
1,1000001,1000,1,2,3,Green,NaN,1,Black,Otter Creek,374,4
2,1000002,1000,1,3,1,Green,NaN,1,Black,Otter Creek,374,4
3,1000003,1000,1,4,0,Hole,NaN,1,Black,Otter Creek,374,4
4,1000004,1000,2,1,123,Rough,NaN,1,Black,Otter Creek,389,4
...,...,...,...,...,...,...,...,...,...,...,...,...
527,1001390,1014,17,3,2,Green,NaN,7,Black,Indianola,330,4
528,1001391,1014,17,4,0,Hole,NaN,7,Black,Indianola,330,4
529,1001392,1014,18,1,7,Fairway,NaN,7,Black,Indianola,205,3
530,1001393,1014,18,2,1,Green,NaN,7,Black,Indianola,205,3
531,1001394,1014,18,3,0,Hole,NaN,7,Black,Indianola,205,3

In [58]:
rds

,roundID,golferID,Name,Date,courseID,Course,Tees,holesPlayed,roundLength,Weather,Notes
0,1000,1,Evan Callaghan,2021-09-07,1,Otter Creek,Black,18,4.5,Clear,NaN
1,1001,1,Evan Callaghan,2021-09-10,1,Otter Creek,Black,18,4.5,Clear,NaN
2,1004,1,Evan Callaghan,2021-09-12,1,Otter Creek,Black,18,4.5,Clear,NaN
3,1013,1,Evan Callaghan,2021-09-28,6,Rice Lake,Blue,18,4.5,Clear,NaN
4,1014,1,Evan Callaghan,2021-09-22,7,Indianola,Black,18,4.5,Clear,NaN
5,1019,1,Evan Callaghan,2021-09-13,1,Otter Creek,Black,18,4.5,Clear,NaN
6,1020,1,Evan Callaghan,2021-09-15,1,Otter Creek,Black,18,4.5,Clear,NaN

In [59]:
shot

,shotID,roundID,holeNumber,shotNumber,nextLocation,nextLocationBL,penaltyIncurred
0,1000000,1000,1,1,86,Fairway,NaN
1,1000001,1000,1,2,3,Green,NaN
2,1000002,1000,1,3,1,Green,NaN
3,1000003,1000,1,4,0,Hole,NaN
4,1000004,1000,2,1,123,Rough,NaN
...,...,...,...,...,...,...,...
527,1001390,1014,17,3,2,Green,NaN
528,1001391,1014,17,4,0,Hole,NaN
529,1001392,1014,18,1,7,Fairway,NaN
530,1001393,1014,18,2,1,Green,NaN
531,1001394,1014,18,3,0,Hole,NaN