In [1]:
## Importing libraries

import pandas as pd
import numpy as np
import sys; sys.path.insert(1, '/Users/EvanCallaghan/Documents/Golf/StrokesGained/GOLF/GlobalScripts')
pd.set_option('display.max_rows', None, 'display.max_columns', None)
import sg_script as sg

In [2]:
## Reading the data

baselines = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Baselines.xlsx')
courses = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Courses.xlsx')
golfers = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Golfers.xlsx')
rounds = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Rounds.xlsx')
shots = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Database/Shots.xlsx')

In [3]:
## Subsetting the data for the correct golfer and round

## Golfer
golfer = golfers[golfers['Name'] == 'Evan Callaghan'].reset_index(drop = True)

## Rounds
rounds = rounds[rounds['roundID'] == 1030].reset_index(drop = True)

## Shots
shot = shots[shots['roundID'] == 1030]

In [4]:
## Creating complete data-frame for analysis

shotLevel, roundLevel = sg.initialize(shot, rounds, courses, baselines)

In [6]:
roundLevel

,roundID,golferID,Name,Date,courseID,Course,Tees,holesPlayed,roundLength,Weather,tournamentRound,Tournament,Notes,APP,ATG,PUTT,OTT,Score,SG: Total,Fairway,GIR,Putts,Par,scoreToPar
0,1030,1,Evan Callaghan,2022-06-06,9,Abercrombie,Blue,18,4.2,Rain,0,NaN,Deuces,-6.48,-0.3,-0.25,-4.04,79,-11.07,8,8,32,71,8