In [1]:
## Importing libraries

import pandas as pd
import numpy as np
import sys; sys.path.insert(1, '/Users/EvanCallaghan/Documents/Golf/StrokesGained/GOLF/GlobalScripts')
pd.set_option('display.max_rows', None, 'display.max_columns', None)
import putting_script as ps

In [2]:
## Reading putting data

baselines = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/PuttBaselines.xlsx')
golfers = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/PuttGolfers.xlsx')
rounds = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/PuttRounds.xlsx')
putts = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/Putts.xlsx')

In [3]:
## Subsetting the data for the correct golfer and round
golfer = golfers[golfers['Name'] == 'Evan Callaghan'].reset_index(drop = True)
rd = rounds[rounds['roundID'] == 1000].reset_index(drop = True)
putt = putts[putts['roundID'] == 1000].reset_index(drop = True)

## Creating complete data-frame for analysis
puttLevel, puttRoundLevel = ps.initialize(putt, rd, baselines)

## Exporting data-frames for analysis:
puttLevel.to_csv('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Reporting/puttLevel.csv', index = False)
puttRoundLevel.to_csv('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Reporting/puttRoundLevel.csv', index = False)

In [4]:
puttLevel

,puttID,roundID,holeNumber,puttNumber,puttDistance,locationBL,breakCategory,breakDegree,puttResultDistance,puttResult,nextLocationBL,strokesGained,x_coord,y_coord
0,1,1000,1,1,27,1.95,Straight,NaN,3,S,1.04,-0.09,0.000000,-3.000000
1,2,1000,1,2,3,1.04,Right,Small,0,Hole,0.00,0.04,0.000000,0.000000
2,3,1000,2,1,12,1.69,Right,Moderate,1,NE,1.01,-0.32,0.707107,0.707107
3,4,1000,2,2,1,1.01,Straight,NaN,0,Hole,0.00,0.01,0.000000,0.000000
4,5,1000,3,1,10,1.61,Left,Severe,0,Hole,0.00,0.61,0.000000,0.000000
5,6,1000,4,1,7,1.42,Left,Small,0,Hole,0.00,0.42,0.000000,0.000000
6,7,1000,5,1,31,1.99,Right,Severe,5,SE,1.23,-0.24,3.535534,-3.535534
7,8,1000,5,2,5,1.23,Straight,NaN,0,Hole,0.00,0.23,0.000000,0.000000
8,9,1000,6,1,58,2.20,Straight,NaN,6,SE,1.34,-0.14,4.242641,-4.242641
9,10,1000,6,2,6,1.34,Right,Moderate,1,N,1.01,-0.67,0.000000,1.000000
10,11,1000,6,3,1,1.01,Straight,NaN,0,Hole,0.00,0.01,0.000000,0.000000
11,12,1000,7,1,6,1.34,Straight,NaN,0,Hole,0.00,0.34,0.000000,0.000000
12,13,1000,8,1,45,2.10,Double,Small,3,S,1.04,0.06,0.000000,-3.000000
13,14,1000,8,2,3,1.04,Straight,NaN,0,Hole,0.00,0.04,0.000000,0.000000
14,15,1000,9,1,12,1.69,Right,Moderate,2,NW,1.02,-0.33,-1.414214,1.414214
15,16,1000,9,2,2,1.02,Straight,NaN,0,Hole,0.00,0.02,0.000000,0.000000
16,17,1000,10,1,43,2.09,Left,Severe,4,E,1.13,-0.04,4.000000,0.000000
17,18,1000,10,2,4,1.13,Straight,NaN,0,Hole,0.00,0.13,0.000000,0.000000
18,19,1000,11,1,8,1.50,Left,Small,0,Hole,0.00,0.50,0.000000,0.000000
19,20,1000,12,1,9,1.56,Right,Small,2,N,1.02,-0.46,0.000000,2.000000
20,21,1000,12,2,2,1.02,Straight,NaN,0,Hole,0.00,0.02,0.000000,0.000000
21,22,1000,13,1,50,2.14,Left,Severe,4,SW,1.13,0.01,-2.828427,-2.828427
22,23,1000,13,2,4,1.13,Straight,NaN,0,Hole,0.00,0.13,0.000000,0.000000
23,24,1000,14,1,20,1.87,Straight,NaN,6,NE,1.34,-0.47,4.242641,4.242641
24,25,1000,14,2,6,1.34,Right,Small,0,Hole,0.00,0.34,0.000000,0.000000
25,26,1000,15,1,4,1.13,Straight,NaN,1,S,1.01,-0.88,0.000000,-1.000000
26,27,1000,15,2,1,1.01,Straight,NaN,0,Hole,0.00,0.01,0.000000,0.000000
27,28,1000,16,1,8,1.50,Left,Moderate,0,Hole,0.00,0.50,0.000000,0.000000
28,29,1000,17,1,24,1.92,Double,Small,3,NW,1.04,-0.12,-2.121320,2.121320
29,30,1000,17,2,3,1.04,Straight,NaN,0,Hole,0.00,0.04,0.000000,0.000000
30,31,1000,18,1,10,1.61,Right,Small,0,Hole,0.00,0.61,0.000000,0.000000

In [11]:
pd.DataFrame(puttLevel.groupby('breakCategory')['strokesGained'].sum()).T

breakCategory  Double  Left  Right  Straight
strokesGained   -0.06   2.0  -1.03      -0.6

In [5]:
puttRoundLevel

,roundID,golferID,Name,Date,courseID,Course,holesPlayed,Stimp,roundLength,Weather,Wind,tournamentRound,Tournament,Notes,Putts,strokesGained
0,1000,1,Evan Callaghan,2022-07-19,1,Abercrombie,18,10,4.5,Clear,Medium,0,NaN,NaN,31,0.31

In [6]:
# ## Creating complete data-frame for analysis
# puttLevel, puttRoundLevel = ps.initialize(putt, rd, baselines)

# ## Exporting data-frames for analysis:
# puttLevel.to_csv('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Reporting/puttLevel.csv', index = False)
# puttRoundLevel.to_csv('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Reporting/puttRoundLevel.csv', index = False)