In [1]:
## Importing libraries

import pandas as pd
import numpy as np
import sys; sys.path.insert(1, '/Users/EvanCallaghan/Documents/Golf/StrokesGained/GOLF/GlobalScripts')
pd.set_option('display.max_rows', None, 'display.max_columns', None)
import putting_script as ps

In [2]:
## Reading putting data

baselines = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/PuttBaselines.xlsx')
golfers = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/PuttGolfers.xlsx')
rounds = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/PuttRounds.xlsx')
putts = pd.read_excel('/Users/EvanCallaghan/Documents/Golf/StrokesGained/PuttingDatabase/Putts.xlsx')

In [3]:
## Subsetting the data for the correct golfer and round
golfer = golfers[golfers['Name'] == 'Evan Callaghan'].reset_index(drop = True)
rd = rounds[rounds['roundID'] == 1000].reset_index(drop = True)
putt = putts[putts['roundID'] == 1000].reset_index(drop = True)

In [4]:
ps.initialize(putt, rd, baselines)

,puttID,roundID,holeNumber,puttNumber,puttDistance,puttResult,breakCategory,breakDegree,locationBL,nextLocationBL,strokesGained,puttResultDistance,x_coord,y_coord
0,1,1000,1,1,27,S,Straight,NaN,1.95,1.04,-0.09,3,0.000000,0.000000
1,2,1000,1,2,3,Hole,Right,Small,1.04,0.00,0.04,0,0.000000,0.000000
2,3,1000,2,1,12,NE,Right,Moderate,1.69,1.01,-0.32,1,0.000000,0.000000
3,4,1000,2,2,1,Hole,Straight,NaN,1.01,0.00,0.01,0,0.000000,0.000000
4,5,1000,3,1,10,Hole,Left,Severe,1.61,0.00,0.61,0,0.000000,0.000000
5,6,1000,4,1,7,Hole,Left,NaN,1.42,0.00,0.42,0,0.000000,0.000000
6,7,1000,5,1,31,SE,Right,NaN,1.99,1.23,-0.24,5,0.000000,0.000000
7,8,1000,5,2,5,Hole,Straight,NaN,1.23,0.00,0.23,0,0.000000,0.000000
8,9,1000,6,1,58,SE,Straight,NaN,2.20,1.34,-0.14,6,0.000000,0.000000
9,10,1000,6,2,6,N,Right,NaN,1.34,1.01,-0.67,1,41.012193,-41.012193
10,11,1000,6,3,1,Hole,Straight,NaN,1.01,0.00,0.01,0,0.000000,0.000000
11,12,1000,7,1,6,Hole,Straight,NaN,1.34,0.00,0.34,0,0.000000,0.000000
12,13,1000,8,1,45,S,Double,NaN,2.10,1.04,0.06,3,0.000000,0.000000
13,14,1000,8,2,3,Hole,Straight,NaN,1.04,0.00,0.04,0,0.000000,0.000000
14,15,1000,9,1,12,NW,Right,NaN,1.69,1.02,-0.33,2,0.000000,0.000000
15,16,1000,9,2,2,Hole,Straight,NaN,1.02,0.00,0.02,0,0.000000,0.000000
16,17,1000,10,1,43,E,Left,NaN,2.09,1.13,-0.04,4,0.000000,0.000000
17,18,1000,10,2,4,Hole,Straight,NaN,1.13,0.00,0.13,0,0.000000,0.000000
18,19,1000,11,1,8,Hole,Left,NaN,1.50,0.00,0.50,0,0.000000,0.000000
19,20,1000,12,1,9,N,Right,NaN,1.56,1.02,-0.46,2,0.000000,0.000000
20,21,1000,12,2,2,Hole,Straight,NaN,1.02,0.00,0.02,0,0.000000,0.000000
21,22,1000,13,1,50,SW,Left,NaN,2.14,1.13,0.01,4,0.000000,0.000000
22,23,1000,13,2,4,Hole,Straight,NaN,1.13,0.00,0.13,0,0.000000,0.000000
23,24,1000,14,1,20,NE,Straight,NaN,1.87,1.34,-0.47,6,0.000000,0.000000
24,25,1000,14,2,6,Hole,Right,NaN,1.34,0.00,0.34,0,0.000000,0.000000
25,26,1000,15,1,4,S,Straight,NaN,1.13,1.01,-0.88,1,0.000000,0.000000
26,27,1000,15,2,1,Hole,Straight,NaN,1.01,0.00,0.01,0,0.000000,0.000000
27,28,1000,16,1,8,Hole,Left,NaN,1.50,0.00,0.50,0,0.000000,0.000000
28,29,1000,17,1,24,NW,Double,NaN,1.92,1.04,-0.12,3,0.000000,0.000000
29,30,1000,17,2,3,Hole,Straight,NaN,1.04,0.00,0.04,0,0.000000,0.000000
30,31,1000,18,1,10,Hole,Right,NaN,1.61,0.00,0.61,0,0.000000,0.000000

In [5]:
import math

In [6]:
math.tan(math.pi/3)

1.7320508075688767

In [7]:
3 * math.sin(3 * math.pi / 4)

2.121320343559643

In [8]:
3 * math.cos(3 * math.pi / 4)

-2.1213203435596424

In [9]:
# ## Creating complete data-frame for analysis
# puttLevel, puttRoundLevel = ps.initialize(putt, rd, baselines)

# ## Exporting data-frames for analysis:
# puttLevel.to_csv('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Reporting/puttLevel.csv', index = False)
# puttRoundLevel.to_csv('/Users/EvanCallaghan/Documents/Golf/StrokesGained/Reporting/puttRoundLevel.csv', index = False)